.header {
    background-color: rgb(200, 135, 14);
    color: rgb(0, 0, 0);
   
}

.logoutButton {
    margin-right: 50px;
    margin-top: 1rem;
    width: 70px;
    height: 25px;
}

.headerText {
    position: absolute;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.body {
    background-color: #0D1116;
}

.inline {
    display: inline-block;
}

.titleLogo {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Zen Dots', cursive;
    margin-left: 3rem;
    margin-top: 2rem;
}

.secretFooter{
    color: white;
    text-align: center;
}